# [MIRACUM 2019][Session 2] Solutions
* Kim Hee (Graduate research assistant) 
* Universit√§tsmedizin Mannheim, Mannheim (UMM)
* This is prepared for a turorial `Data analysis tools (Datenanalysewerkzeuge)`
* Task 1 - 13 are taken from: [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html). A tutorial in depth is availalbe in the [Cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook)

## Prerequisite
* import python packages
* create some dataframe objects

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 999)
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Creating a DataFrame by passing a array, with a datetime index and labeled columns:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

## Viewing data

### Task 1. print the data types of `df` and `df2`
* hint: `.dtypes`

In [ ]:
df.dtypes

In [ ]:
df2.dtypes

### Task 2. shows a quick statistic summary of `df` and `df2`
* hint: `.describe()`

In [ ]:
df.describe()

In [ ]:
df2.describe()

### Task 3. view the top and bottom row of `df`  
* hints: `.head(1)` and `.tail(1)`

In [ ]:
df.head(1)

In [ ]:
df.tail(1)

 ### Task 4. display the index and columns of `df`  
* hints: `.index` and `.columns`

In [ ]:
df.index

In [ ]:
df.columns

### Task 5. sort by value on a single column `A` of `df`  
* hint: `.sort_values(by='COLUMN', ascending=True|False)`

In [ ]:
df.sort_values(by='A', ascending=True)

## Selection

### Task 6. selecting a single column `A` and `B`
* hint: `df['COLUMN']`

In [ ]:
df[['A','B']]

### Task 7. slices by index date from 20130102 to 20130104
* hint: `df['INDEX_BEGINNIG_VALUE':'INDEX_ENDING_VALUE']`

In [ ]:
df['20130102':'20130104']

### Task 8. selection by label: slice `df` where date from 20130102 to 20130104 and columns of A and B 
* hint: `.loc['INDEX_BEGINNIG_VALUE':'INDEX_ENDING_VALUE', ['COLUMN_1', 'COLUMN_2']]`

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

### Task 9. selection by position: slice `df` from the first to third rows and columns
* hint: `.iloc[ROW_BEGINNING_POSITION:ROW_ENDING_POSITION, COLUMN_BEGINNING_POSITION:COLUMN_ENDING_POSITION]`

In [ ]:
df.iloc[0:3, 0:3]

## Merge

### Task 10. double the `df` (concatenate two dataframes)
* hint: `pd.concat([DF_1, DF_2])`

In [ ]:
pd.concat([df, df])

### Task 11. join two dataframes below and save the result to a new dataframe `df3`
* hint: `pd.merge(DF_1, DF_2, on='KEY')

In [ ]:
left = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'],
                     'B': ['one', 'one', 'two', 'two']})
left

In [ ]:
right = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                     'C': np.random.randn(6),
                     'D': np.random.randn(6)})
right

In [ ]:
df3 = pd.merge(left, right, on='A')
df3

## Grouping

### Task 12. Grouping `df` by `A` and `B` and then applying the sum() function
* hint: `.groupby('COLUMN').sum()`

In [ ]:
df3.groupby(['A', 'B']).sum()

## Plotting

### Task 13. plot `df` with labels
* hint: `.plot()`

In [ ]:
df.plot()

## Data I/O

### Task 14. read a csv file `resources/johnsnow_pumps.csv`
* hint: `pd.read_csv('FILE_PATH')`

In [ ]:
pd.read_csv('resources/johnsnow_pumps.csv')

### Task 15. create a database driver object and make a database connection

In [ ]:
import pandas.io.sql as psql 
import psycopg2 # database driver for PostgreSQL
DB_IP = "172.31.0.2"
conn = psycopg2.connect(f"postgres://postgres:postgres@{DB_IP}:5432/mimic")

### Task 16. show all public tables in PostgreSQL
* hint: `SELECT * FROM pg_catalog.pg_tables WHERE schemaname = 'public'`

In [ ]:
psql.read_sql("SELECT * \
                 FROM pg_catalog.pg_tables \
                WHERE schemaname = 'public'", conn)

### Task 17. print the first five records from `admissions` table

In [ ]:
a = psql.read_sql("SELECT * FROM admissions", conn)
a.head()

# Repeat the tasks 1 - 13 to `admissions` table

### Task 18. select `admissions` table where `insurance` is `Private`

In [ ]:
a[a['insurance'] == 'Private']

### Task 19. sort `admissions` table by `admittime`

In [ ]:
a.sort_values(by = 'admittime')

### Task 20. group `admissions` table by `marital_status` and then applying the `size()` function

In [ ]:
a.groupby(['marital_status']).size()

### Task 21. plot the output of `Task 20` to a `pie chart`

In [ ]:
a.groupby(['marital_status']).size().plot(kind="pie")

### Task 21. group `admissions` table by `admission_type` and then applying the `size()` function

In [ ]:
a.groupby(['admission_type']).size()

### Task 22. plot the output of `Task 21` to a `horizontal bar chart`

In [ ]:
a.groupby(['admission_type']).size().plot(kind="barh")

### Task 23. Join `admissions` table and `patients` table based on `subject_id` column

In [ ]:
a = psql.read_sql("SELECT * FROM admissions", conn)
p = psql.read_sql("SELECT * FROM patients", conn)
ap = pd.merge(a, p, on = 'subject_id' , how = 'inner')

### Task 24. group the joined table by `admission_type` and `gender` and then applying the `size()` function

In [ ]:
ap.groupby(['admission_type','gender']).size()

### Task 25. reshape the output of `Task 24`
* hint: apply `.unstack()` function

In [ ]:
ap.groupby(['admission_type','gender']).size().unstack()

### Task 26. plot the output of `Task 25` to a `stacked horizontal bar chart`
* hint: `.plot(kind="barh", stacked=True)`

In [ ]:
ap.groupby(['admission_type','gender']).size().unstack().plot(kind="barh", stacked=True)

# Good job! Repeat the tasks to other tables